html {
    position: relative;
    min-height: 100%;
}
body, html {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  width:1260px;
  max-width: 96%;
  background-color: #f3f3f3;
  margin:0 auto;
  padding: 2%;

}
.row:before, .row:after {
	content: "";
	clear:both;	
	display: table;
}
[class*='col-'] {
	float: left;
	min-height: 1px;
	margin-right: 1.5%;
}
.col-6 {
	width: 48.5%;
}
input,textarea
{
  background-color: #fff;
  padding: 1% 1%;
  width: 96%;
  border: none;
  margin: 5px 0 10px 0;
  -webkit-border-radius:0; 
  border-radius:0;
}
input[type="checkbox"]{
  width:auto;
  margin-right: 5px;
}
.checkboxwrapper{  
    font-size: 14px;
    padding-left: 1%;
}
select{
	color:#525252;
	width:98%;
  height: 25px;
  border: none;}
input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #ffcc00;
  transition: all 0.2s ease 0s;
}
p{
  margin:0;
}
.usersaccounts{
  text-decoration: none;
  font-size: 12px;
  color: red;
  padding:0 20px 0 1%;
}